[submodule "dependencies/V2LED"]
	path = dependencies/V2LED
	url = https://github.com/versioduo/V2LED.git
[submodule "dependencies/V2Cryptography"]
	path = dependencies/V2Cryptography
	url = https://github.com/versioduo/V2Cryptography.git
[submodule "dependencies/V2Memory"]
	path = dependencies/V2Memory
	url = https://github.com/versioduo/V2Memory.git
[submodule "dependencies/V2Color"]
	path = dependencies/V2Color
	url = https://github.com/versioduo/V2Color.git
[submodule "dependencies/V2BNO055"]
	path = dependencies/V2BNO055
	url = https://github.com/versioduo/V2BNO055.git
[submodule "dependencies/V2Device"]
	path = dependencies/V2Device
	url = https://github.com/versioduo/V2Device.git
[submodule "dependencies/V2Buttons"]
	path = dependencies/V2Buttons
	url = https://github.com/versioduo/V2Buttons.git
[submodule "dependencies/V2MIDI"]
	path = dependencies/V2MIDI
	url = https://github.com/versioduo/V2MIDI.git
